<mat-card>
    <mat-icon>person</mat-icon> <b>Student's details</b>
    <mat-divider></mat-divider>
    <div>
        <p><b>Last name: </b>{{student.lastName}}</p>
        <p><b>First name: </b>{{student.firstName}}</p>
        <p><b>ID number: </b>{{student.idNumber}}</p>
        <p><b>Birth date: </b>{{student.birthDate | date}}</p>
        <p><b>Age: </b>{{student.age}}</p>
        <p><b>Gender: </b>{{student.genderC}}</p>
        <p><b>Enroll date: </b>{{student.enrollDate | date}}</p>
    </div>
</mat-card>